
<div class="fondo">
  <h1 class="title">Modificar Artículo</h1>
  <hr />
  <div mat-dialog-content>
    <form [formGroup]="form" (ngSubmit)="onSaveClick()">
      <div class="form-group">
        <h2>Nombre</h2>
        <input matInput formControlName="name" class="input-field" />
        <mat-error *ngIf="form.get('name').invalid && form.get('name').touched">
          El nombre es requerido.
        </mat-error>
      </div>

      <div class="form-group">
        <h2 for="item-image" class="form-label">Imagen</h2>
        <input
          type="file"
          class="form-control"
          id="item-image"
          accept="image/*"
          (change)="previewImage($event)"
        />
        <div class="image-preview-container">
          <img
            id="image-preview"
            class="img-preview"
            [src]="imagePreviewUrl"
            alt="Vista previa de la imagen"
            *ngIf="imagePreviewUrl"
          />
          <button
            type="button"
            class="btn btn-danger mt-2 mb-2"
            (click)="removeImage()"
          >
            Eliminar imagen
          </button>
        </div>
      </div>

      <div class="form-group">
        <h2>Descripción</h2>
        <textarea
          matInput
          formControlName="description"
          class="input-field"
        ></textarea>
        <mat-error
          *ngIf="
            form.get('description').invalid && form.get('description').touched
          "
        >
          La descripción es requerida.
        </mat-error>
      </div>
      <div class="form-group">
        <h2>Selecciona categorías</h2>
        <div style="display: flex; flex-direction: column; align-items: center">
          <div
            style="
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
              gap: 10px;
            "
          >
            <mat-checkbox
              *ngFor="let category of categories"
              [checked]="selectedCategories[category.category_name]"
              (change)="
                onCategoryChange(category.category_name, $event.checked)
              "
            >
              <span style="color: #333; margin-top: 8px; font-weight: 500">
                {{ category.category_name }}
              </span>
            </mat-checkbox>
          </div>
          <mat-error
            *ngIf="!getSelectedCategories().length"
            style="
              color: red;
              font-size: 0.875rem;
              text-align: center;
              width: 100%;
            "
          >
            Seleccione al menos una categoría.
          </mat-error>
        </div>
      </div>

      <div class="form-group">
        <h2>Selecciona encargado</h2>
        <div style="display: flex; flex-direction: column; align-items: center">
          <div
            style="
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
              gap: 10px;
            "
          >
            <mat-checkbox
              *ngFor="let safekeeper of safekeepers"
              [checked]="selectedSafekeepers[safekeeper.email]"
              (change)="onSafekeeperChange(safekeeper.email, $event.checked)"
            >
              <span style="color: #333; margin-top: 8px; font-weight: 500">
                {{ safekeeper.name }}
              </span>
            </mat-checkbox>
          </div>
          <mat-error
            *ngIf="!getSelectedSafekeepers().length"
            style="
              color: red;
              font-size: 0.875rem;
              text-align: center;
              width: 100%;
            "
          >
            Seleccione al menos un encargado.
          </mat-error>
        </div>
      </div>

      <div mat-dialog-actions>
        <button
          type="submit"
          style="background-color: #1b3069; color: aliceblue"
          class="btn btn-secondary btn-lg flex-grow-1 m-1"
          [disabled]="form.invalid"
          [disabled]="canEdit"
          [ngClass]="{ 'disabled-button': canEdit }"
        >
          Guardar
        </button>
        <button
          type="button"
          style="background-color: #696969; color: aliceblue"
          class="btn btn-lg flex-grow-1 m-1"
          (click)="onNoClick()"
        >
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
