<header class="header">
  <div class="logo">
    <img src="assets/images/logoutn.png"  alt="Logo">


    <h1>Bitácora & Hallazgos</h1>
  </div>
  <nav class="nav-menu" [class.open]="menuOpen">
    <ul>

      <li><a class="nav-link" [routerLink]="['/home']" (click)="closeMenu()">Inicio</a></li>
      <li><a class="nav-link" [routerLink]="['/example']" routerLinkActive="active" (click)="closeMenu()">Ejemplos</a></li>
      <li><a routerLink="/lostAndFound" routerLinkActive="active" (click)="closeMenu()">Objectos perdidos</a></li>
      <li><a routerLink="/teacherlog" routerLinkActive="active" (click)="closeMenu()">Bitacora profesor</a></li>
      <li><a routerLink="/studentlog" routerLinkActive="active" (click)="closeMenu()">Bitacora estudiante</a></li>
      <li><a routerLink="/contacto" routerLinkActive="active" (click)="closeMenu()">Contacto</a></li>
      <ng-container *ngIf="userAuthenticated; else loginLink">
        <li><a class="nav-link" (click)="logout(); closeMenu()">Cerrar sesión</a></li>
      </ng-container>
      <ng-template #loginLink>
        <li><a class="nav-link" [routerLink]="['/login']" routerLinkActive="active" (click)="closeMenu()">Login</a></li>
      </ng-template>
    </ul>
    <span class="welcome-message" *ngIf="userAuthenticated">
      {{ welcomeMessage }}
    </span>
  </nav>
  <button class="toggle-menu" (click)="closeMenu()" aria-label="Toggle menu">
    <span></span>
    <span></span>
    <span></span>
  </button>
</header>
