<!-- app.component.html -->
<header class="header">
    <div class="logo">
      <img src="/src/app/images/utn.jpeg" alt="Logo">
      <h1>Bitacora & Harrazgos</h1>
    </div>
    <nav class="nav-menu">
      <ul>
        <li><a routerLink="/home" routerLinkActive="active">Inicio</a></li>
        <li><a routerLink="/lostAndFound" routerLinkActive="active">Objectos perdidos</a></li>
        <li><a routerLink="/Bitacora" routerLinkActive="active">Bitacora</a></li>
        <li><a routerLink="/contacto" routerLinkActive="active">Contacto</a></li>
      </ul>
    </nav>
  </header>
  