.titulo{
    text-align: center;
    color: #299980;
    font-size: 20px;
    margin-top: 30px;
    font-style: normal;
}
.linea-horizontal {
    border-top: 2px solid #278266; /* Ajustado a un color más oscuro */
    margin: 0 auto;
}
.linea-vertical {
    border-left: 2px solid rgb(41, 152, 128);
    height: 200%;
}
.llenadoDatos{
    width: 620px;
}
.inputs{
    /*width: 462px;*/
    margin: 0 auto; 
    display: block; 
    border-radius: 3px;
    height: 50px;
    background-color:#EEEEEE ;
}
.buttonApertura{
    background-color:#299980 ;
    color: #EEEEEE;
    margin: 0 auto; 
    display: block; 
}
.divDerecha { 
    width: 900px;
    margin-left: 620px; /* Alineación con la línea vertical */
    margin-top: -250px; /* Ajuste vertical */
    /* Otros estilos según sea necesario */
}
table{
    background-color: #299980;
    text-align: center;
}
th, td{
    text-align: center;
    color: #EEEEEE;
    /*font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;*/
}

