.modal-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 5px;
  width: 500px; /* Tamaño inicial del modal */
  max-width: 90%; /* Limitar el ancho máximo en pantallas pequeñas */
}

.modal-content {
  position: relative;
}

.modal-header {
  background-color: #007bff;
  color: #fff;
  padding: 1rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 1rem;
}

.modal-footer {
  background-color: #f7f7f7;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.modal-footer button {
  min-width: 100px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad según lo necesario */
  z-index: 998;
}

@media (max-width: 768px) {
  .modal-dialog {
    width: 90%; /* Utiliza el 90% del ancho de la pantalla en pantallas medianas */
    max-width: 90%;
    transform: translate(-50%, -50%); /* Ajusta la posición central */
  }
}

@media (max-width: 576px) {
  .modal-dialog {
    width: 90%; /* Utiliza el 90% del ancho de la pantalla en pantallas pequeñas */
    max-width: 90%;
    transform: translate(-50%, -50%); /* Ajusta la posición central */
  }

  .modal-header,
  .modal-footer {
    padding: 0.75rem; /* Reduce el padding en el encabezado y el pie de página en pantallas pequeñas */
  }

  .modal-body {
    padding: 0.75rem; /* Reduce el padding en el cuerpo del modal en pantallas pequeñas */
  }
}
