<div class="modal-header">
    <h4 class="modal-title">Añadir zona</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="nombre">Nombre de la zona:</label>
        <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required>
      </div>
      <div class="form-group">
        <label for="localidad">Localidad:</label>
        <input type="text" class="form-control" id="localidad" name="localidad" [(ngModel)]="localidad" required>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="guardar()">Guardar</button>
  </div>
  