<div class="modal-overlay"></div>
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="cancelar()">&times;</button>
      <h4 class="modal-title">{{ data.isEdit ? 'Editar zona' : 'Añadir zona' }}</h4>
    </div>
    <div class="modal-body">
      <form #form="ngForm">
        <div class="form-group">
          <label for="nombre">Nombre de la zona:</label>
          <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required>
        </div>
        <div class="form-group">
          <label for="localidad">Localidad:</label>
          <input type="text" class="form-control" id="localidad" name="localidad" [(ngModel)]="localidad" required>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
      <button type="button" class="btn btn-primary" [disabled]="!form.valid" (click)="guardar()">Guardar</button>
    </div>
  </div>
</div>
