<div class="container">
  <h1>Registro y Autenticación</h1>
  <div *ngIf="!showVerification">
    <div class="form-group">
      <input type="text" [(ngModel)]="name" placeholder="Nombre">
      <input type="text" [(ngModel)]="email" placeholder="Correo Electrónico">
      <input type="password" [(ngModel)]="password" placeholder="Contraseña">
    </div>
    <div class="button-group">
      <button (click)="onSubmit()">Registrar</button>
    </div>
  </div>
  <div *ngIf="showVerification">
    <div class="form-group">
      <input type="text" [(ngModel)]="verificationCode" placeholder="Código de Verificación">
    </div>
    <div class="button-group">
      <button (click)="verifyCode()">Verificar</button>
    </div>
  </div>
  <div id="message">{{ message }}</div>
</div>
