<div class="popup">
  <h1 class="title">Detalle de objeto</h1>
  <hr />
  <div class="info">
    <h2>Imagen:</h2>
    <div class="image-preview-container">
      <img
        id="image-preview"
        class="img-preview"
        [src]="imagePreviewUrl"
        alt="Vista previa de la imagen"
        *ngIf="imagePreviewUrl"
      />
    </div>
    <h2>Nombre:</h2>
    <p>{{ element.name }}</p>
    <h2>Descripción:</h2>
    <p>{{ element.description }}</p>
    <h2>Categoría:</h2>
    <ng-container
      *ngIf="element.category && element.category.length; else noCategories"
    >
      <p *ngFor="let category of element.category">
        {{ capitalizeFirstLetter(category.category_name) }}
      </p>
    </ng-container>
    <ng-template #noCategories>
      <p>No disponible</p>
    </ng-template>
    <h2>Safekeeper:</h2>
    <ng-container
      *ngIf="
        element.safekeeper && element.safekeeper.length;
        else noSafekeepers
      "
    >
      <ul class="safekeepers-list">
        <li *ngFor="let safekeeper of element.safekeeper">
          {{ safekeeper.email }}
        </li>
      </ul>
    </ng-container>
    <ng-template #noSafekeepers>
      <p>No disponible</p>
    </ng-template>
    <h2>Estado:</h2>
    <p>{{ element.status }}</p>
  </div>

  <!-- show-dialog.component.html -->
  <div class="dialog-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-4 mb-2">
          <button
            class="modifybutton w-100"
            (click)="onEdit()"
            [disabled]="!canEdit"
            [ngClass]="{ 'disabled-button': !canEdit }"
          >
            Modificar
          </button>
        </div>
        <div class="col-12 col-md-4 mb-2">
          <button
            class="deletebutton w-100"
            (click)="onDelete()"
            [disabled]="!canDelete"
            [ngClass]="{ 'disabled-button': !canDelete }"
          >
            Eliminar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
