.popup {
    background-color: white;
    padding: 20px;
    position: relative;
  }
  
  .title {
    text-align: center;
    margin-top: 15px;
  }
  
  .info {
    margin-left: 20px;
    margin-right: 180px;
  }
  
  p {
    margin-bottom: 20px;
  }
  
/* show-dialog.component.css */
.dialog-content {
  max-height: 100%; /* Ensures the content does not overflow the viewport height */
  overflow-y: auto; /* Adds a vertical scrollbar if the content exceeds the dialog height */
}

.deletebutton {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.deletebutton:hover {
    background-color: darkred;
}

.closebutton {
    background-color: #8f8f8f;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.closebutton:hover {
    background-color: #6f6f6f;
}

.modifybutton {
    background-color: #5a8094;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease
} 


