.titulo{
    text-align: center;
    color: #299980;
    font-size: 20px;
    margin-top: 30px;
    font-style: normal;
}
.linea-horizontal {
    border-top: 2px solid #2DC597; /* Ajustado a un color más oscuro */
    margin: 0 auto;
}
.linea-vertical {
    border-left: 2px solid rgb(41, 152, 128);
    height: 200%;
}
.llenadoDatos{
    width: 620px;
}
.inputs{
    /*width: 462px;*/
    margin: 0 auto; 
    display: block; 
    border-radius: 3px;
    height: 50px;
    background-color:#EEEEEE ;
}
.buttonApertura{
    background-color:#299980 ;
    color: #EEEEEE;
    margin: 0 auto; 
    display: block; 
}
 
   
table{
    background-color: #299980;
    text-align: center;
}
th, td{
    text-align: center;
    color: #EEEEEE;
    /*font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;*/
}

.line {
    flex: 1;
    height: 5px;
    background-color: #299980;
  }
  .title {
    margin: 0 10px;
    font-size: 20px;
  }

  .image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px; /* No margin between images */
  }
  
  .image-container {
    /* Remove any padding or margin from the container to prevent unwanted spacing */
    padding: 0;
    margin: 0;
  }
  
  .computer-image {
    width: 80%; /* Images are 40% of their original width */
    height: auto; /* Height adjusts proportionally to maintain aspect ratio */
    /* Optional: Use object-fit to control how images are resized within the container */
    object-fit: cover; /* This will crop images to fill the container while maintaining aspect ratio */
  }

  .image-number {
    position:absolute;
    margin-top: 10px;
   margin-left: -50px;
    font-size: 20px; /* Adjust font size as desired */
    color: black; /* Change text color as needed */
    text-align: center;
  }
  .clickable-image {
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .clickable-image:active {
    transform: scale(0.95);
  }
  