table {
    width: 100%;
    margin-top: 70px;
  }

  th, td {
    padding: 8px;
  }

  .mat-elevation-z8 {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  }

  .btn {
    margin-bottom: 20px;
  }

  .mat-cell {
    text-align: center;
  }

  .mat-header-cell {
    text-align: center;
    background-color: #299980; 
    padding: 10px;
  }

  .mat-header-row {
    background-color: #f2f2f2;
  }

  .mat-row:hover {
    background-color: #f1f1f1;
  }
  .btn-agregar{
    margin-bottom: 20px;
    height: 35px;
    background-color: #94CD90;
    margin-top: 50px;
    position: absolute;
    width: 140px;
    margin-left: 60%;
    border-radius: 5px;
    border: none;
  }

  .img-preview {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    display: block; 
    margin: 10px auto; } 

    .mat-mdc-form-field {
        font-size: 14px;
        width: 15%;
        margin-left: 15%;
        position: absolute;
        margin-top: 40px;

      }
      .radiobutton{
        margin-top: 10px;
        position: absolute;
      }
  