table {
    width: 100%;
    margin-top: 20px;
  }

  th, td {
    padding: 8px;
  }

  .mat-elevation-z8 {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  }

  .btn {
    margin-bottom: 20px;
  }

  .mat-cell {
    text-align: center;
  }

  .mat-header-cell {
    text-align: center;
    background-color: #299980; 
    padding: 10px;
  }

  .mat-header-row {
    background-color: #f2f2f2;
  }

  .mat-row:hover {
    background-color: #f1f1f1;
  }

  .img-preview {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    display: block; 
    margin: 10px auto; } 

    .mat-mdc-form-field {
        font-size: 14px;
        width: 15%;
        margin-left: 15%;
      }
  p{
    color: #299980;
  }