<div class="container">
  <div class="login-left">
    <img
      src="../../../../assets/images/logoblanco.png"
      alt="LogoUTN"
      class="LogoUTN"
    />
  </div>

  <div class="login-right">
    <h2>CREAR UNA CUENTA</h2>

    <!-- Registro -->
    <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
      <div class="form-group">
        <input
          type="text"
          id="name"
          name="name"
          [(ngModel)]="name"
          required
          placeholder=" "
        />
        <label for="name">Nombre</label>
      </div>
      <div class="form-group">
        <input
          type="email"
          id="email"
          name="email"
          [(ngModel)]="email"
          required
          placeholder=" "
        />
        <label for="email">Correo Electrónico</label>
      </div>
      <div class="form-group">
        <input
          type="password"
          id="password"
          name="password"
          [(ngModel)]="password"
          required
          placeholder=" "
        />
        <label for="password">Contraseña</label>
      </div>

      <div class="login-button-container">
        <button
          type="submit"
          [disabled]="!registerForm.valid"
          class="login-button"
        >
          Registrarme
        </button>
        <button class="login-button" (click)="openVerifyModal()">
          Verificar Cuenta
        </button>
      </div>
    </form>

    <!-- Modal de verificación -->
    <div class="modal" [class.show]="showVerifyModal">
      <div class="modal-content">
        <span class="close" (click)="closeVerifyModal()">&times;</span>
        <h2>Verificar Cuenta</h2>
        <form (ngSubmit)="verifyCode()" #verifyForm="ngForm">
          <div class="form-group">
            <input
              type="email"
              id="verifyEmail"
              name="verifyEmail"
              [(ngModel)]="email"
              required
              placeholder=" "
            />
            <label for="verifyEmail">Correo Electrónico</label>
          </div>
          <div class="form-group">
            <input
              type="text"
              id="verificationCode"
              name="verificationCode"
              [(ngModel)]="verificationCode"
              required
              placeholder=" "
            />
            <label for="verificationCode">Código de Verificación</label>
          </div>

          <div class="login-button-container">
            <button
              type="submit"
              [disabled]="!verifyForm.valid"
              class="login-button"
            >
              Verificar
            </button>
          </div>
        </form>
      </div>
    </div>

    <div *ngIf="message" id="message">{{ message }}</div>
  </div>
</div>
