.example-spacer {
    flex: 1 1 auto;
  }

  .container{
    background-color: #68B3A6;
    border-top: 4px solid #3A8676;
  }

  table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  .main-body{
    margin: 0 auto;
    padding-top: 20px;
    max-width: 1248px;
    mat-form-field{
      width: 100;
    }
  }


  .delete{
    color: red;
  }
  

footer img {
  height: 40px; /* Ajustar la altura de la imagen */
}


html, body {
  height: 100%;
  margin: 0;
}

.main-body {
  display: flex;
  flex-direction: column;
  min-height: 81vh; 
}

.container {
  flex: 1;
}

footer {
  background-color: #68B3A6;
  border-top: 4px solid #3A8676;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}
