.carousel {
  width: 100%;
  margin-top: -16px;
}

.carousel-inner img {
  height: 400px;
  object-fit: cover;
}

.carousel-indicators button {
  background-color: #333;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 10px;
}

.centered-text {
  display: flex;
  align-items: center;
}
.linea-horizontal {
  border-top: 5px solid #1b3069;
  margin: 20px auto 30px auto;
  width: 30px;
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.image-container {
  border: 2px solid #89c1e0;
  border-radius: 5px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.image-container:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 123, 255, 0.5);
}

.small-image {
  width: 70%;
  height: auto;
}

.linea-horizontal1 {
  border-top: 5px solid #89c1e0;
  margin: 0 auto;
  margin-top: 25px;
}
.linea-horizontal2 {
  border-top: 5px solid #89c1e0;
  margin-top: 50px;
}
.letrasenlace {
  color: white;
  padding-top: 20px;
  text-align: center;
}
.small-imageE {
  width: 70%;
  height: auto;
}

.small-image1 {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

@media (max-width: 1000px) {
  .small-image1 {
    height: 220vh;
  }
}
@media (max-width: 1000px) {
  .container-fluid .folder,
  .container-fluid .folder1 {
    margin-top: 100px;
  }
}

@media (max-width: 1000px) {
  .image-container {
    margin-bottom: 30px;
  }
}

.folder {
  height: 200px;
  margin-top: 100px;
  cursor: pointer;
  transition: all 0.3s;
  margin-bottom: -100px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  
  
}
.folder1 {
  height: 250px;
  margin-top: 75px;
  cursor: pointer;
  transition: all 0.3s;
  margin-bottom: -100px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.folder:hover,
.folder1:hover {
  background-color: #1b3069;
}

.lineaCarpeta {
  border-top: 2px solid white;
  width: 60px;
  margin: 15px auto 0;
}

.imagenesEnlace {
  width: 100%;
  height: auto;
  max-width: 120px;
  max-height: 100px;
  object-fit: cover;
  margin-top: 20px;
}

.imagenesEnlace2 {
  width: 100%;
  height: auto;
  max-width: 120px;
  max-height: 120px;
  object-fit: cover;
  margin-top: 20px;
}

.folder,
.folder1 {
  text-align: center;
  background-color: #9bdadd;
}







 button {
  display: block; 
  margin: 5px 0;
  
}
a {
  text-decoration: none;
}
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.custom-button {
  background-color: #1b3069;
  color: white;
  height: 45px;
  border-radius: 15px;
  border: none;
  width: 180px; 
  text-align: center;
  font-size: 16px;
}
