<div class="container-fluid">
  <div class="row">
    <div
      class="col-12"
      style="text-align: center; font-size: 25px; margin-top: 50px"
    >
      ACCIONES
      <div class="linea-horizontal"></div>

      <div style="font-size: 20px; margin-top: 10px; margin-bottom: 20px">
        En este apartado podra encontrar diferentes opciones a realizar.
      </div>
    </div>
  </div>
</div>
<div style="margin-top: 20px"></div>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-2"></div>
    <div class="col-8 text-center">
      <div class="row">
        <div class="col-12 col-md-3">
          <div
            class="image-container"
            [ngClass]="{ expandable: showBitacoraOptions }"
            (click)="toggleBitacoraOptions()"
          >
            <img src="assets/images/bitacora.png" class="small-image" />
            <p>Bitácora</p>
            <div *ngIf="showBitacoraOptions" class="options1">
              <div class="button-container">
                <button
                  *ngIf="showClass"
                  class="custom-button"
                  routerLink="/classes"
                >
                  Clases
                </button>
                <button
                  *ngIf="showTeacherLog"
                  class="custom-button"
                  routerLink="/teacherlog"
                >
                  Bitácora Profesor
                </button>
                <button
                  *ngIf="showCategorias"
                  class="custom-button"
                  routerLink="/studentlog"
                >
                  Bitácora Estudiante
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-3">
          <div
            class="image-container"
            routerLink="/lostAndFound"
            routerLinkActive="active"
          >
            <img src="assets/images/lostandfound.png" class="small-image" />

            <p>Objetos perdidos</p>
          </div>
        </div>
        <div
          class="col-12 col-md-3"
          routerLink="/studentlog"
          routerLinkActive="active"
        >
          <div class="image-container">
            <img src="assets/images/aulas.png" class="small-image" />
            <p>Asistencia</p>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div
            class="image-container"
            [ngClass]="{ expandable: showAjustesOptions }"
            (click)="toggleAjustesOptions()"
          >
            <img src="assets/images/ajustes.png" class="small-image" />
            <p>Ajustes</p>
            <div *ngIf="showAjustesOptions" class="options">
              <div class="button-container">
                <button
                  *ngIf="showZones"
                  class="custom-button"
                  routerLink="/zones"
                >
                  Zonas
                </button>
                <button
                  *ngIf="showCategorias"
                  class="custom-button"
                  routerLink="/categorias"
                >
                  Categoría
                </button>
                <button
                  *ngIf="showIssues"
                  class="custom-button"
                  routerLink="/issues"
                >
                  Averías
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>
<div class="linea-horizontal2"></div>

<div style="position: relative; display: inline-block; width: 100%">
  <img src="assets/images/Home - Vinculacion.png" class="small-image1" />
  <div
    class="container-fluid"
    style="position: absolute; top: 0; left: 0; right: 0; text-align: center"
  >
    <p
      style="
        font-weight: bold;
        color: white;
        font-size: 25px;
        margin-top: 100px;
        margin-bottom: -40px;
      "
    >
      ENLACES DE INTERES
    </p>

    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8">
          <div class="row">
            <div
              href="https://campusvirtual.utn.ac.cr/"
              target="_blank"
              class="full-link"
              class="col-12 col-sm-6 col-md-3 mb-3 mb-sm-4"
            >
              <a
                href="https://campusvirtual.utn.ac.cr/"
                target="_blank"
                style="text-decoration: none"
              >
                <div class="folder">
                  <div class="letrasenlace">Campus virtual</div>
                  <div class="lineaCarpeta"></div>
                  <img
                    src="assets/images/Campus.png"
                    class="imagenesEnlace img-fluid"
                    alt="Campus virtual"
                  />
                </div>
              </a>
            </div>
            <div class="col-12 col-sm-6 col-md-3 mb-3 mb-sm-4">
              <a
                href="https://avatar.utn.ac.cr/avatar_utn/log/menu.jsp"
                target="_blank"
              >
                <div class="folder1">
                  <div class="letrasenlace">Avatar</div>
                  <div class="lineaCarpeta"></div>
                  <img
                    src="assets/images/profile.png"
                    class="imagenesEnlace img-fluid"
                  />
                </div>
              </a>
            </div>
            <div class="col-12 col-sm-6 col-md-3 mb-3 mb-sm-4">
              <a
                href="https://www.utn.ac.cr/procesos-estudiantiles"
                target="_blank"
                style="text-decoration: none"
              >
                <div class="folder">
                  <div class="letrasenlace">Procesos</div>
                  <div class="lineaCarpeta"></div>
                  <img
                    src="assets/images/procesos.png"
                    class="imagenesEnlace img-fluid"
                  />
                </div>
              </a>
            </div>
            <div class="col-12 col-sm-6 col-md-3 mb-3 mb-sm-4">
              <a
                href="https://www.utn.ac.cr/inicio"
                target="_blank"
                style="text-decoration: none"
              >
                <div class="folder">
                  <div class="letrasenlace">Página oficial</div>
                  <div class="lineaCarpeta"></div>
                  <img
                    src="assets/images/logoutn.png"
                    class="imagenesEnlace img-fluid"
                  />
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
