<div class="container">
    <h1 class="mt-4">Zonas</h1>
    <div class="row mb-4">
      <div class="col-md-6">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Buscar..." (input)="filtrarZonas($event)">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">Buscar</button>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex justify-content-end">
        <button class="btn btn-success" (click)="abrirModal(1)">Agregar</button>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Localidad</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let zona of zonasFiltradas">
          <td><input type="text" class="form-control" [value]="zona.nombre" readonly></td>
          <td><input type="text" class="form-control" [value]="zona.localidad" readonly></td>
          <td>
            <button class="btn btn-primary">Editar</button>
            <button class="btn btn-outline-danger">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="paginacion.paginaActual === 1">
          <a class="page-link" href="#" tabindex="-1" (click)="cambiarPagina(paginacion.paginaActual - 1)">Anterior</a>
        </li>
        <li class="page-item" *ngFor="let pagina of paginacion.paginas"
          [class.active]="pagina === paginacion.paginaActual">
          <a class="page-link" href="#" (click)="cambiarPagina(pagina)">{{ pagina }}</a>
        </li>
        <li class="page-item" [class.disabled]="paginacion.paginaActual === paginacion.paginas.length">
          <a class="page-link" href="#" (click)="cambiarPagina(paginacion.paginaActual + 1)">Siguiente</a>
        </li>
      </ul>
    </nav>
  </div>
  
  
  