/* Navbar */
.navbar {
  background-color: #6fc0a8; /* Color de fondo del navbar */
}

.navbar-brand {
  color: #fff; /* Color del texto del brand del navbar */
  font-family: 'Times New Roman', Times, serif;
  margin-left: auto; /* Alinear el brand del navbar a la derecha */
}

.modal-lg {
  max-width: 50%; /* Ancho máximo del modal */
}

.editar-btn {
  margin-right: 8px; /* Margen entre el botón Editar y el botón Eliminar */
}

.eliminar-btn {
  margin-left: 8px; /* Margen entre el botón Eliminar y otros elementos */
}

.btn-agregar {
  height: 40px; /* Altura del botón */
  border: 2px solid #2B9980; /* Borde del botón */
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1); /* Sombra del botón */
}

body {
  background-color: #e8f2f4; /* Color de fondo del cuerpo */
  margin: 0; /* Eliminar margen */
  display: flex; /* Usar flexbox para que el contenido ocupe toda la altura */
  flex-direction: column; /* Apilar elementos en una columna */
  min-height: 100vh; /* Altura mínima del viewport */
}

.content-wrapper {
  flex: 1; /* Flexbox para estirar el contenido */
}

.container-fluid {
  background-color: #E8F2F4; /* Color de fondo del contenedor */
  padding: 20px; /* Relleno del contenedor */
  margin-top: 20px; /* Margen desde arriba */
  border-radius: 10px; /* Radio de borde del contenedor */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra del contenedor */
}

.text-center {
  font-size: 40px; /* Tamaño de fuente */
  animation: fadeInUp 1s ease; /* Animación fadeInUp */
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Estilos de la tabla */
.table th,
.table td {
  padding: 8px; /* Relleno para separar el contenido de los bordes */
  width: 30%;
  white-space: nowrap; /* Evitar el retorno automático del texto en pantallas grandes */
  overflow: hidden; /* Ocultar contenido desbordado */
  text-overflow: ellipsis; /* Mostrar puntos suspensivos (...) para el texto desbordado */
}

/* Ajuste para pantallas pequeñas */
@media (max-width: 576px) {
  .table th,
  .table td {
    width: auto; /* Ancho automático para cada columna en pantallas más pequeñas */
    max-width: 200px; /* Ancho máximo para evitar que el contenido se extienda demasiado */
    overflow-x: auto; /* Habilitar desplazamiento horizontal para tablas largas */
    white-space: normal; /* Permitir que el texto brinque a la siguiente línea */
  }

  .table-striped {
    overflow-x: auto; /* Habilitar desplazamiento horizontal para tablas largas */
  }

  .editar-btn,
  .eliminar-btn {
    margin: 4px 0; /* Margen entre los botones */
    width: 100%; /* Ancho completo para los botones en pantallas más pequeñas */
    display: block; /* Mostrar botones en bloque en pantallas más pequeñas */
  }
}

